*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    background: #12c2e9;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right,
            #ffff00,
            #AAAAAA,
            #00ffff);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right,
            #ffff00,
            #AAAAAA,
            #00ffff);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: "Open sans", sans-serif;
}

/*--------------------
container
--------------------*/
.wrap {
    margin: 30px auto 30px;
    width: 460px;
    background: #ffffff;
    border-radius: 15px;
    padding: 272px 45px 30px;
    box-shadow: 0 10px 40px hsla(0, 0, 0, 0.1);
    position: absolute; /* Positions the div absolutely within the parent */
    top: 50%; /* Moves the div down by half of its own height */
    left: 50%; /* Moves the div right by half of its own width */
    transform: translate(-50%, -50%); /* Adjusts the position to perfectly center the div */
}

.front-logo {
    fill: #ffffff;
    display: block;
    margin: 150px auto 0px auto;
    width: 80px;
}

p {
    text-align: center;
    margin: 20px 0 60px;
    font-size: 1.25em;

    &.success {
        color: #777;
    }
}

.gift-card-box {
    perspective: 1000;
    width: 400px;
    height: 280px;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);

    .front {
        background-image: url("https://the_poop_card.gitlab.io/site/IMG_20171209_071355784%20Medium.jpg");
        background-repeat: no-repeat;
        background-blend-mode: lighten;
        background-size: cover;
        z-index: 2;
        transform: rotateY(0deg);
    }

    .front,
    .back {
        width: 400px;
        height: 250px;
        border-radius: 15px;
        backface-visibility: hidden;
        position: absolute;
        color: #fff;
        font-family: sans-serif;
        top: 0;
        left: 0;
        box-shadow: 0 1px 6px hsla(0, 0, 0, 0.3);

        &.back {
            background: repeating-conic-gradient(from 45deg at 50% 50%,
                    Coral 0deg 10deg,
                    DarkSlateBlue 10deg 20deg,
                    black 20deg 30deg);
        }
    }

    .card {
        transform-style: preserve-3d;
        position: relative;
        transition: all 300ms ease-in-out;
    }

    .whoosh {
        transform: translateY(-125px);
        transition-duration: 500ms;

        &.flip {
            transition-duration: 300ms;
            transform: translateY(-125px) rotateY(180deg);
        }
    }

    .front-logo-cnt {
        display: flex;
        flex-direction: column;
        height: 100%;
        align-items: center;
        justify-content: center;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.3);
        border-radius: 15px;
    }

    .back {
        transition-duration: 300ms;
        transform: rotateY(180deg);
    }
}

.back-container {
    display: grid;
    grid-template-areas:
        "back-text-title"
        "back-text-main"
        "back-text-clarificaiton";
    gap: 45%;
    padding: 10px;
}

.back-container>.back-text-title {
    padding: 5px 0;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    text-align: center;
}

.back-container>.back-text-clarification {
    font-size: 14px;
    background-color: rgba(255, 255, 255, 0.1);
}

.back-container>.back-text-main {
    font-size: 48px;
    text-align: center;
}

.centerer {
    position: relative; /* Establishes a new positioning context */
    height: 100vh; /* Full height of the viewport */
}

html {
    height: 100%;
}

body {
    min-height: 100%;
}